include requirements/*.txt
include MFOD/VERSION
include MFOD/.mim/model-index.yml
include MFOD/.mim/demo/*/*
recursive-include MFOD/.mim/configs *.py *.yml
recursive-include MFOD/.mim/tools *.sh *.py
